# scripts of old simulation
old_project/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# tests
tests/

.ipynb_checkpoints/
Berry_curv_band_4.png
cone_phases.pdf
