# scripts of old simulation
old_project/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# tests
tests/

.ipynb_checkpoints/
Berry_curv_band_4.png
cone_phases.pdf
Kagome_Noncollinear_Fail.ipynb
Berry curvature.ipynb
Some_analytics.ipynb
line_profiler/pre_upgrade/even1.txt
line_profiler/pre_upgrade/even2.txt
line_profiler/pre_upgrade/even3.txt
line_profiler/pre_upgrade/odd1.txt
line_profiler/pre_upgrade/odd2.txt
line_profiler/pre_upgrade/odd3.txt
line_profiler/upgrade_1_odd/odd1.txt
line_profiler/upgrade_1_odd/odd2.txt
line_profiler/upgrade_1_odd/odd3.txt
line_profiler/upgrade_2_even/even1.txt
line_profiler/upgrade_2_even/even2.txt
line_profiler/upgrade_2_even/even3.txt
line_profiler/upgrade_2_odd/odd1.txt
line_profiler/upgrade_2_odd/odd2.txt
line_profiler/upgrade_2_odd/odd3.txt
line_profiler/upgrade_3/even1.txt
line_profiler/upgrade_3/even2.txt
line_profiler/upgrade_3/even3.txt
line_profiler/upgrade_3/odd1.txt
line_profiler/upgrade_3/odd2.txt
line_profiler/upgrade_3/odd3.txt
line_profiler/upgrade_4/even1.txt
line_profiler/upgrade_4/even2.txt
line_profiler/upgrade_4/even3.txt
line_profiler/upgrade_4/odd1.txt
line_profiler/upgrade_4/odd2.txt
line_profiler/upgrade_4/odd3.txt
